<% if current_user%>
<% if current_user.category == 2%>
<script type="text/javascript">
    window.location.href="/dashboards"  // put your correct path in a string here
  </script>
<% end%>
<h1>User accounts</h1>
<div class="signOut">
<table>
  <tr>
    <th>User name</th>
    
  
    <th>Category</th>
   
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email  %></td>
    
   <% if user.category ==1%>
   <td>Admin</td>
 	<% elsif user.category == 2%>
 	
    <td>User </td>
    <% end%>
     <th></th>
    <th></th>
    <th></th>
    
     </tr>
<% end %>
</table>
</div>

<% else%>
<script type="text/javascript">
    window.location.href="/sessions/new"  // put your correct path in a string here
  </script>
<% end%>