<% if current_user%>
<% if current_user.email == "user@cloud.com"%>
<script type="text/javascript">
    window.location.href="/dashboards"  // put your correct path in a string here
  </script>
<% end%>
<div id="headerContentBottom">
					<h1>My Dashboard</h1>
					<h3>Browse Books</h3>
				</div>
			</div>
		</div>	
		<div id="mainContent">
			<div id="mainContent-left">
				<h3>All Users</h3>
				<div id="dashboard">
					<table>
					  <tr>
					    <th>User name</th>
					    
					  
					    <th>Category</th>
					   
					    
					    
					    <th></th>
					    <th></th>
					    <th></th>
					  </tr>
					
					<% @users.each do |user| %>
					  <tr>
					    <td><%= user.email  %></td>
					   
					   <% if current_user.email == "admin@cloud.com"%>
					   <td>Admin</td>
					 	<% elsif current_user.email == "user@cloud.com"%>
					 	
					    <td>User </td>
					    <% end%>
					     <th></th>
					    <th></th>
					    <th></th>
					    
					     </tr>
					<% end %>
					</table>
				</div>
			</div>
			<div id="mainContent-right">
				<h2>What would you like to do?</h2>
				<ul>
					<li><%= link_to 'View your Dashboard', dashboards_path%></li>
				</ul>
			</div>
			
		</div>
<% else %>
<script type="text/javascript">
    window.location.href="/sessions/new"  // put your correct path in a string here
  </script>
<% end%>


