<% if current_user%>
<% if current_user.email == "user@cloud.com"%>
<script type="text/javascript">
    window.location.href="/books"  // put your correct path in a string here
  </script>
<%end%>
<div id="headerContentBottom">
					<h1>My Dashboard</h1>
					<h3>New book</h3>
				</div>
			</div>
		</div>	
		<div id="mainContent">
			<div id="mainContentTop">
				<p>Add description of the new book... </p>
			</div>
			<div id="mainContentBottom">
				<%= render 'form' %>

				<%= link_to 'Back', books_path %>

			</div>
			
		</div>

<% else%>
<script type="text/javascript">
    window.location.href="/sessions/new"  // put your correct path in a string here
  </script>
<%end%>


